<div class="registration-container">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="registration-header">Create new account</div>
        <div class="input-container">
            <label>Username: </label>
            <input type="text" placeholder="Username" formControlName="username"> <br>
            <app-validator-msg [control]="form.controls['username']"></app-validator-msg>   </div>
        <div class="input-container">
            <label>Email: </label>
            <input type="text" placeholder="E-mail" formControlName="email"><br>
            <app-validator-msg [control]="form.controls['email']"></app-validator-msg>
        </div>
        <div class="input-container">
            <label>Password: </label>
            <input type="password" placeholder="Password" formControlName="password"><br>
            <app-validator-msg [control]="form.controls['password']"></app-validator-msg>
        </div>
        <button type="submit" class="submit-button">Register</button>
        <div class="login" class="login">Already have an account? Click <a routerLink="">here</a></div>
    </form>
</div>