<div>
    <form>
        Create new account<br>
        <input type="text" placeholder="E-mail"> <br>
        <input type="text" placeholder="Password"><br>
        <input type="text" placeholder="Age"> <br>
        <input type="text" placeholder="Height"><br>
        <input type="text" placeholder="Weight"> <br>
        <select>
            <option value="">--Choose your goal--</option>
            <option value="Gain weight">Gain weight</option>
            <option value="Loose fat">Loose fat</option>
            <option value="Get stronger">Get stronger</option>
            <option value="Learn technics">Learn technics</option>
        </select><br>
        <input type="button" value="Register" (click)="redirect()">
        <div class="login">Already have an account? Click <a href="login">here</a></div>
    </form>
</div>