.diets-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: fit-content;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 0 0 10px black;
}
.input-container{
    margin-bottom: 15px;
}

.input-container input{
    margin-bottom: 10px;
    font-size: 20px;
}
.input-container select{
    margin-bottom: 10px;
    font-size: 20px;
    width: 100%;
}
.calculated-weight-item{
    font-size: 20px;
}
