
.diets-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 0 0 10px black;
}
.input-container {
    margin-bottom: 20px;
}

input, select {
    width: 200px;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background-color: #747474;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #b78e04;
    cursor: pointer;
}

.calculated-weight-container {
    margin-top: 20px;
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.famous-diets-header {
    font-size: 24px;
    margin-top: 30px;
    margin-bottom: 30px;
    color: #333;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.famous-diets-wrapper {
    display: grid;
    gap: 30px;
    grid-template-columns: 300px 300px 300px 300px;
}

.input-container{
    margin-bottom: 15px;
}

.input-container input{
    margin-bottom: 10px;
    font-size: 20px;
}
.input-container select{
    margin-bottom: 10px;
    font-size: 20px;
    width: 100%;
}
.calculated-weight-item{
    font-size: 20px;
}

input.ng-touched.ng-invalid{border: 2px solid red }
input.ng-touched.ng-valid{border: 2px solid green }

select.ng-touched.ng-invalid{border: 2px solid red }
select.ng-touched.ng-valid{border: 2px solid green }