<div class="influencers-diets-container">
    <h2 class="famous-diets-header">
        Check out some of the diets of your favorite influencers!
    </h2>
    <div class="famous-diets-wrapper">
        <ng-container *ngFor="let diet of diets">
            <app-diets-item [diet]="diet"></app-diets-item>
        </ng-container>
    </div>
</div>

<div class="diets-container">
    <h2>Calculator of calories</h2>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="input-container">
            <input type="text" placeholder="age" formControlName="age"> <br>
            <app-validator-msg [control]="form.controls['age']"
                [errorMessage]="'age must not be empty'"></app-validator-msg>
            <select formControlName="gender">
                <option *ngFor="let g of genders" [value]="g.value">{{g.str}}</option>
            </select> <br>
            <input type="text" placeholder="height" formControlName="height"> <br>
            <app-validator-msg [control]="form.controls['height']"
                [errorMessage]="'height must not be empty'"></app-validator-msg>
            <input type="text" placeholder="weight" formControlName="weight"> <br>
            <app-validator-msg [control]="form.controls['weight']"
                [errorMessage]="'weight must not be empty'"></app-validator-msg>
        </div>
        <button class="button" type="submit" [disabled]="form.invalid">search</button>
    </form>
    <div class="calculated-weight-container">
        <p class="calculated-weight-item">to lose weight you need to eat {{loseWeight}} calories</p>
        <p class="calculated-weight-item">to keep weight you need to eat {{keepWeight}} calories</p>
        <p class="calculated-weight-item">to gain weight you need to eat {{gainWeight}} calories</p>
    </div>
</div>

<button class="button" type="submit" [disabled]="form.invalid" (click)="throwError()">Throw an error(just to complete 1 point)</button>