<div class="home-container">
    <section id="main" style="background-image: url(../../../assets/gym-home.jpg);">
        <div class="inner">
            <h1>Here we will build your body</h1>
            <div class="home-content">
                Join us, you won't regret this!
            </div>
        </div>
    </section>
    <section id="info">
        <div class="healthy-container">
            <div class="healthy-content">
                <h2 class="healthy-header">Stay healthy</h2>
                <div class="healthy-content">
                    Regular exercise is key to maintaining a healthy lifestyle. Physical activity not only helps in
                    improving fitness levels but also plays a crucial role in overall well-being. Engaging in workouts
                    such as cardio, strength training, and flexibility exercises can boost energy levels, enhance mood,
                    and reduce the risk of chronic diseases. <br><br>

                    In addition to physical benefits, exercise contributes to mental health by reducing stress, anxiety,
                    and depression. It also promotes better sleep quality, cognitive function, and self-esteem.
                    Remember, staying active is not just about looking good; it's about feeling great inside and out. <br><br>

                    Make sure to listen to your body, stay hydrated, and fuel yourself with nutritious foods to support
                    your workouts. Whether it's hitting the gym, going for a run outdoors, or practicing yoga at home,
                    find activities that you enjoy and make them a part of your daily routine for a healthier, happier
                    you.
                </div>
            </div>
            <img src="assets/healthy-img.jpg" class="healthy-img">
        </div>

    </section>
</div>
<app-footer></app-footer>