
<div class="home-container">
    <section id="main" style="background-image: url(../../../assets/gym-home1.jpg);">
        <div class="inner">
            <h1>Here we will build your body</h1>
            <div class="home-content">
                Hi there! This is your home page. Here you'll be suggested some trainings depending on your priorities:
                <!-- here input a component -->
            </div>
        </div>
    </section>
    <div>bla bla</div>
</div>
<app-footer></app-footer>