<div class="header-container">
    <img class="header-logo" src="assets/logo.png" width="50px" height="50px" (click)="redirect($event)">
    <a class="header-item" *ngFor="let h of header" [href]="h.path">{{h.value}}</a>
    <a class="header-item"  *ngIf="authService.currentUserSig() === null" (click)="login()">Login</a>
    <span class="header-item"  *ngIf="authService.currentUserSig()">
        {{authService.currentUserSig()?.username}} 
        <a class="header-item" (click)="logout()">Logout</a>
    </span>
</div>
