<div class="training-container">
    <h2 class="training-header">{{training.header}}</h2>
    <div class="training-content">
        <img class="training-img" [src]="training.img" alt="picture of guy who's doing bench press"><br>
    </div>
    <ul class="training-tags">
        <li class="training-item">
            <img class="tag-img" [src]="training.tag1Img">
            {{training.tag1}}
        </li>
        <li class="training-item">
            <img class="tag-img" [src]="training.tag2Img">
            {{training.tag2}}
        </li>
    </ul>
</div>