
.trainings{
    display: flex;
    margin: 20px auto 15px 30px;
    width: 600px;
}
.trainings.descriptions{
    display: flex;
    margin-left: 500px;
    margin-right: auto;
    justify-content: center;
}
h2{
    text-align: center;
    background-color: black;
    color: white;
    border-radius: 30px 30px 0 0;
}
.trainings-container{
    margin: 0 20px;
    border: 2px solid black;
    border-radius: 30px;
}
.filters{
    margin-bottom: 15px;
    padding-left: 20px;
    background: rgb(214, 214, 214);
    border-bottom: 2px solid black;
.trainings1{
    position: relative;
    display: flex;
    width: 400px;
    left: 750px;
    bottom: 500px;
}
.recomend{
    position: relative;
    display: flex;
    margin-right: auto;
    height: 25px;
    left: 760px;
    bottom: 150px;
}