
<app-filters (searchTextChange)="setSearchString($event)"></app-filters>


<div class="trainings">
    <div class="training" *ngFor="let t of trainings">
        <app-training-item *ngIf="searchString === '' || t.header.toLowerCase().includes(searchString)" [training]="t" (click)="handler(t)">
        </app-training-item>
    </div>
    <div *ngIf="chosenTraining">    
        <app-description class="descriptions" [name]="chosenTraining.header" [isVisible]="chosenTraining.des" (isVisibleEmitter)="setIsVisible($event)"></app-description>
    </div>
</div>
<app-index-mass></app-index-mass>