<div class="profile-container">
    <form [formGroup]="form">
        <div class="profile-form-container">
            <input class="profile-form-item" type="text" placeholder="age" formControlName="age"> <br>
            <app-validator-msg [control]="form.controls['age']"
                [errorMessage]="'age must not be empty'"></app-validator-msg>
            <select class="profile-form-item" formControlName="gender">
                <option *ngFor="let g of genders" [value]="g.value">{{g.str}}</option>
            </select> <br>
            <input class="profile-form-item" type="text" placeholder="height" formControlName="height"> <br>
            <app-validator-msg [control]="form.controls['height']"
                [errorMessage]="'height must not be empty'"></app-validator-msg>
            <input class="profile-form-item" type="text" placeholder="weight" formControlName="weight"> <br>
            <app-validator-msg [control]="form.controls['weight']"
                [errorMessage]="'weight must not be empty'"></app-validator-msg>
        </div>
        <button type="submit" [disabled]="form.invalid" (click)="onSubmit()">Save profile data</button><br>

    </form>
    <div class="profile-trainings-container">
        <div class="profile-trainings" *profileIf="display">
            <h2>Your trainings</h2>
            <div class="trainings-container">
                <div class="training" *ngFor="let t of trainingsUserChose">
                    <app-training-item [training]="t"></app-training-item>
                </div>
            </div>
        </div>

        <div class="training-session" *ngIf="trainingSessionVisible">
            <div>
                <input type="radio" value="freeWeight" name="training-rb" (click)="changeIsClicked(true)">
                <label>freeWeight</label>
            </div>
            <div>
                <input type="radio" value="bodyWeight" name="training-rb" (click)="changeIsClicked(false)" checked>
                <label>bodyWeight</label>
            </div>
            <ng-container *ngIf="isFreeWeight; else elseBlock">
                <app-training-session [styleTraining]="isFreeWeight" [setsQuantity]="1" [sessionId]="sessionId"></app-training-session>
            </ng-container>
            <ng-template #elseBlock>
                <app-training-session [styleTraining]="isFreeWeight" [setsQuantity]="1" [sessionId]="sessionId"></app-training-session>
            </ng-template>
            <button (click)="saveTrainingSession()">save training session</button>
        </div>

        <div class="user-training-sessions">
            <h2>Your training sessions</h2>
            <hr>
            <div *ngFor="let t of session">
                <div>
                    {{t.name}}
                </div>
                <div>
                    {{t.weight}}
                </div>
                <div>
                    {{t.reps}}
                </div>
            </div>
        </div>
        <button (click)="show()">CREATE NEW SESSION</button>
    </div>
</div>
<button>create training session</button>